.chat-side {
  float: left;
  width: 300px;
  height: 100vh;

  .side-header {
    background-color: #253141;
    line-height: 100px;
    height: 100px;
    padding: 0 20px;

    &__user-name {
      float: left;
      font-size: $header_font;
    }
    
    .user-menu {
      &__edit-user {
        float: right;
        color: #ffffff;
      }
      &__new-group {
        float: right;
        color: #ffffff;
      }
    }
  }

  .groups {
    background-color: #2f3e31;
    height: calc(100vh - 100px);
    padding: 0 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px 0 ;
      &__name {
        color: $white;
        font-size: $side_group_name;
      }
      &__message {
        color: $white;
        font-size: $side_group_message;
        margin-top: 5px ;
      }
    }
  }
}